/* Body Css  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100vw;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  scrollbar-color: rgb(98 84 243);
  scrollbar-width: thin;
  color: white;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(24 24 29);
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

body {
  background-color: #03001c;
  font-family: "Poppins", sans-serif;
}

/* Default Classes */

.center {
  text-align: center;
}

.white {
  color: white;
}

a {
  color: #eee;
  text-decoration: none;
  outline: none;
  border: 0;
}

div{
  font-size: 3rem;
}

.common-heading {
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
}

.loading{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
  
}
.grid {
  display: grid;
  gap: 9rem;
}
.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-column{
   grid-template-columns: 1fr 1.2fr .5fr .8fr ;
}
.grid-five-column{
  grid-template-columns: repeat(5, 1fr);
}