/* Global css Properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,
body {
  margin: 0;
  width: 100vw;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  scrollbar-color: rgb(98 84 243);
  scrollbar-width: thin;
  color: white;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(24 24 29);
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

body {
  background-color: #03001c;
  font-family: "Poppins", sans-serif;
}

/* Default Classes */

.center {
  text-align: center;
}

.white {
  color: white;
}

a {
  color: #eee;
  text-decoration: none;
}

/* Navbar Css */

.nav-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  height: 80px;
  border-radius: 50px 50px;
  padding: 0 25px;
  z-index: 2;
  background: #301e67;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  margin-top: 1rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  transition: 0.5s;
  font-size: 2rem;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo::after {
  content: "";
  height: 0.2rem;
  width: 0;
  background: white;
  position: absolute;
  bottom: 2rem;
  left: 2.8rem;
  transition: 0.5s;
}

.logo:hover::after {
  width: 13rem;
}

.logo .first {
  color: #764ba2;
  font-size: 2.8rem !important;
}

.logo .last {
  color: aquamarine;
  font-size: 2.8rem !important;
}

.nav-tabs {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  list-style: none;
}

.nav-tab:not(:last-child) {
  padding: 10px 25px;
  margin: 0;
  border-right: 1px solid #eee;
}

.nav-tab:last-child {
  padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    width: 100%;
  }

  .nav-tab:not(:last-child) {
    padding: 20px 25px;
    margin: 0;
    border-right: unset;
    border-bottom: 1px solid #f5f5f5;
  }

  .nav-tab:last-child {
    padding: 15px 25px;
  }
}

* {
  padding: 0;
  margin: 0;
}

svg {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #03001c;
  /* background-image: linear-gradient(to bottom, #03001c, #040f17); */
}

/* Home section */

.home {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-top: 6rem;
  padding: 0 10rem;
  font-size: 2rem;
}

.question {
  font-size: 9rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
}

.heading {
  width: 100%;
  height: 20vh;
  position: relative;
  font-family: "Teko", sans-serif;
}

.heading video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.heading .title {
  width: 100%;
  height: 100%;
  background-color: #03001c;
  font-size: 8rem;
  color: white;
  mix-blend-mode: darken;
  text-align: center;
}

.home p {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  position: relative;
  top: -5rem;
}

.left,
.right {
  height: 60vh;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex-direction: column;
  justify-content: start;
  padding-top: 3rem;
}

.left {
  overflow: hidden;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 15px 0px rgba(0, 0, 0, 0);
    transform: translateY(0px);
  }

  50% {
    box-shadow: 0 25px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
  }

  100% {
    box-shadow: 0 5px 0px rgba(0, 0, 0, 0);
    transform: translateY(0px);
  }
}

img {
  width: 40rem;
}

/* form css */
.search-box {
  position: relative;
  top: -1rem;
}

.search-box form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.search-box form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.search-box form .fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.search-box form:hover,
.search-box form:valid {
  width: 40rem;
  cursor: pointer;
}

.search-box form:hover input,
.search-box form:valid input {
  display: block;
}

.search-box form:hover .fa,
.search-box form:valid .fa {
  background: #07051a;
  color: white;
}

.search-box form a {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.search-box form:valid a {
  display: block;
}

/* Media Query for phone */
@media (max-width: 480px) {
  svg {
    position: absolute;
  }
  .left {
  }
  .question {
    font-size: 4rem;
  }
  .home {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 2rem 0;
    padding: 0;
  }
  .left,
  .right {
    height: 30vh;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 30rem;
  }
  .heading .title {
    width: 100%;
    height: 100%;
    background-color: #03001c;
    font-size: 5rem;
    color: white;
    mix-blend-mode: darken;
    text-align: center;
    padding: 2rem;
  }
  .home p {
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    top: 0px;
  }
  .heading video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    padding-top: 1rem;
  }
  .search-box {
    position: relative;
    top: 2rem;
  }
}
