/* Signup Page - /signup */

.signup {
    margin-top: 3rem;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.signup .svg-signup {
    display: flex;
    justify-content: center;
}

.signup .svg-signup img {
    width: 50rem;
}

.signup-form .form {
    height: fit-content;
    background-color: transparent;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.signup-form hr {
    width: 100%;
    margin: 2rem 0 0 0;
}

.signup-form .form h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 1rem 0;
}

.signup-para {
    font-weight: 100;
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
}

.signup-form .form input[type="password"],
input[type="email"],
input[type="text"] {
    padding: 2rem 1rem;
    background: #edf2f5;
    border: 0;
    cursor: inherit;
    outline: none;
    font-size: 2rem;
    color: grey;
}

.signup-form .form input::placeholder {
    color: black;
    opacity: 0.6;
    font-size: 1.8rem;
}

.top-border {
    border-radius: 1rem 1rem 0 0;
}

.down-border {
    border-radius: 0 0 1rem 1rem;
}

.signup-form .form button {
    border-radius: 0.5rem;
    background: #301e67;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem 1rem;
    cursor: pointer;
    margin: 0.75rem 0;
    outline: none;
    border: 0;
}

.signup-form .form button:hover {
    background-color: #623cb5;
    transition: 0.5s;
}

.signup-link-icon ul {
    display: flex;
    color: white;
    list-style: none;
    font-size: 5rem;
    justify-content: center;
    font-size: 3.5rem;


}

.signup-link-icon ul li {
    margin: 0 2rem;
    cursor: pointer;
}

@media (max-width: 786px) {
    .signup {
        height: 100vh;

        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;




    }

    .signup .svg-signup {
        display: none;
    }

    .signup .signup-form .form {
        width: 100%;
    }

    .signup .signup-form .form button {
        margin: 2.5rem 0;
    }

    .signup .signup-para {
        font-size: 2rem;
        margin: 2rem 0;
    }
}


/* Login Page - /login */


.login {
    margin-top: 3rem;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.login .svg-login {
    display: flex;
    justify-content: center;
}

.login .login-form .form input[type="password"],
input[type="email"] {
    padding: 2rem 1rem;
    background: #edf2f5;
    border: 0;
    cursor: inherit;
    outline: none;
    font-size: 2rem;
    color: grey;
}

.login .login-form .form {
    height: fit-content;
    background-color: transparent;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.login .login-form hr {
    width: 100%;
    margin: 2rem 0 0 0;
}

.login .login-form .form h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 1rem 0;
}

.login .login-para {
    font-weight: 100;
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
}

.login .top-border {
    border-radius: 1rem 1rem 0 0;
}

.login .down-border {
    border-radius: 0 0 1rem 1rem;
}

.login .login-form .form button {
    border-radius: 0.5rem;
    background: #301e67;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem 1rem;
    cursor: pointer;
    margin: 0.75rem 0;
    outline: none;
    border: 0;
}

.login .login-form .form button:hover {
    background-color: #623cb5;
    transition: 0.5s;
}

.login .login-link-icon ul {
    display: flex;
    color: white;
    list-style: none;
    font-size: 5rem;
    justify-content: center;
    font-size: 3.5rem;
}

.login .login-link-icon ul li {
    margin: 0 2rem;

    cursor: pointer;
}

.login .signup-forget {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    padding: 1rem 0;


}

.login .signup-forget div {
    font-size: 2rem;
}

@media (max-width: 786px) {

    .login {
        height: 100vh;

        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }

    .login .login-para {
        font-size: 2rem;
        margin: 2rem 0;
    }

    .login .login-form .form button {
        margin: 2.5rem 0;
    }


    .login .signup-forget div {
        font-size: 1.5rem;
    }


    .login .svg-login {
        display: none;
    }

    .login .login-form .form {
        width: 100%;
    }
}

section {
    margin-top: 5rem;
}