@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Open Sans);

/* * {
    margin: 0;
    padding: 0;
} */

body {
    display: flex;
    position: relative;
    height: 100vh;
    background-color: black;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(3, 0, 28, 1) 35%, rgba(48, 30, 103, 1) 100%);
}

.faq-heading {
    font-family: Lato;
    font-weight: 400;
    font-size: 19px;
    -webkit-transition: text-indent 0.2s;
    text-indent: 20px;
    color: #333;
}

.faq-text {
    font-family: Open Sans;
    font-weight: 400;
    color: #919191;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 30px;
}

.center {
    margin-top: 140px;
}

.faq {
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background: white; */
    border-radius: 4px;
    position: relative;
    /* border: 1px solid #E1E1E1; */
}

.faq label {
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top: 1px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
    display: none;
}

.faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid rgba(0, 0, 0, 0.33);
    border-right: 2px solid rgba(0, 0, 0, 0.33);
    float: right;
    position: relative;
    top: -30px;
    right: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked+label>.faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked+label {
    display: block;
    background: rgba(255, 255, 255, 255) !important;
    /* background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(3, 0, 28, 1) 35%, rgba(48, 30, 103, 1) 100%); */

    color: #4f7351;
    height: 225px;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type='checkbox']:not(:checked)+label {
    display: block;
    transition: height 0.8s;
    height: 60px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
    display: none;
}