<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="faq.css">
    <title>Faq</title>
</head>

<body>
    <div class='faq'>
        <div class="center">
            <input id='faq-a' type='checkbox'>
            <label for='faq-a'>
                <p class="faq-heading">Is this Dropbox upgrade safe?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">It is completely safe and totally legal! There will is no record of this process to
                    your
                    shared Dropbox users.</p>
            </label>
            <input id='faq-b' type='checkbox'>
            <label for='faq-b'>
                <p class="faq-heading">How long does it take to upgrade my Dropbox?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">Upgrading is a slow process and will take around 3-10 days. <strong>In order to
                        control
                        the risk and secure the space you earned, we will gradually process it.</strong> during this
                    time
                    you can still use your account as normal as usual.</p>
            </label>
            <input id='faq-c' type='checkbox'>
            <label for='faq-c'>
                <p class="faq-heading">What do you need to do the upgrade?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">NO ACCESS TO YOUR PERSONAL ACCOUNT OR INFO IS REQUIRED! All I need from you is your
                    Dropbox referral link.</p>
            </label>
            <input id='faq-d' type='checkbox'>
            <label for='faq-d'>
                <p class="faq-heading">Where do I find my personal Dropbox referral link?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">Log in to the Dropbox website and get your referral link: www.dropbox.com/referral.
                    Copy
                    the link (example link: <strong>https://db.tt/xYxYzyXy</strong>) and send it via eBay message. </p>
            </label>
            <input id='faq-e' type='checkbox'>
            <label for='faq-e'>
                <p class="faq-heading">Can I split the purchased space between several accounts?</p>
                <div class='faq-arrow'></div>
                <p class="faq-text">Yes, you can! Just send me all the referral links during the checkout process,
                    including
                    a short note, what account should receive which amount of space.</p>
            </label>
        </div>
    </div>

</body>

</html>