
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Navbar Css */

.nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    height: 80px;
    border-radius: 50px 50px;
    padding: 0 25px;
    z-index: 2;
    background: #301e67;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 1rem;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    transition: 0.5s;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .logo-img{
    filter: brightness(0) invert(1);
    width: 22rem;
    display: flex;
    transition: 0.5s;
  }

  .logo-img:hover{
    transform: scale(1.1);
  }
  
  .logo-link {
    text-decoration: none;
    color: white;
  }
  
  /* .logo::after {
    content: "";
    height: 0.2rem;
    width: 0;
    background: white;
    position: absolute;
    bottom: 2rem;
    left: 2.8rem;
    transition: 0.5s;
  }
  
  .logo:hover::after {
    width: 13rem;
  } */
  
  .logo .first {
    color: #764ba2;
    font-size: 2.8rem !important;
  }
  
  .logo .last {
    color: aquamarine;
    font-size: 3.2rem !important;
  }
  
  .nav-tabs {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
  }
  
  .nav-tab:not(:last-child) {
    padding: 10px 25px;
    margin: 0;
    border-right: 1px solid #eee;
  }
  
  .nav-tab:last-child {
    padding: 10px 0 0 25px;
  }
  
  .nav-tab,
  .menu-btn {
    cursor: pointer;
    transition: 0.5s;
  }
  .nav-tab:hover {
    transform: scale(1.2);
  }
  
  