body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #301e67;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100vw;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: hidden;
}
body {
  overflow-x: hidden;
  scrollbar-color: rgb(98 84 243);
  scrollbar-width: thin;
  color: white;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(24 24 29);
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

body {
  background-color: #03001c;
  font-family: "Poppins", sans-serif;
}

/* Default Classes */

.center {
  text-align: center;
}
.white {
  color: white;
}

a {
  color: #eee;
  text-decoration: none;
}

/* Navbar Css */

.nav-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  height: 80px;
  border-radius: 50px 50px;
  padding: 0 25px;
  z-index: 2;
  background: #301e67;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  margin-top: 1rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  transition: 0.5s;
  font-size: 2rem;
  cursor: pointer;
}
.logo-link {
  text-decoration: none;
  color: white;
}
.logo::after {
  content: "";
  height: 0.2rem;
  width: 0;
  background: white;
  position: absolute;
  bottom: 2rem;
  left: 2.8rem;
  transition: 0.5s;
}
.logo:hover::after {
  width: 13rem;
}

.logo .first {
  color: #764ba2;
  font-size: 2.8rem !important;
}
.logo .last {
  color: aquamarine;
  font-size: 2.8rem !important;
}
.nav-tabs {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  list-style: none;
}

.nav-tab:not(:last-child) {
  padding: 10px 25px;
  margin: 0;
  border-right: 1px solid #eee;
}

.nav-tab:last-child {
  padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    width: 100%;
  }

  .nav-tab:not(:last-child) {
    padding: 20px 25px;
    margin: 0;
    border-right: unset;
    border-bottom: 1px solid #f5f5f5;
  }

  .nav-tab:last-child {
    padding: 15px 25px;
  }
}

.main {
  width: 90%;
  height: 40rem;
  background: red;
  overflow: hidden;
  background: url(https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/0352236…/0352236…/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=0352236…&hash=tfhgbs86ka6divo3llbvp93mg4csvb38)
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  margin: 3rem auto;
  position: relative;
  z-index: 100;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  display: flex;
  margin: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  width: 60%;
  height: 4rem;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 2rem auto;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}
button {
  width: 60%;
  height: 4rem;
  margin: 1rem auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  background: #6d44b8;
}
.login {
  position: relative;
  width: 100%;
  height: 100%;
}
.login label {
  color: #573b8a;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

/* footer animation */

svg {
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #03001c;
  /* background-image: linear-gradient(to bottom, #03001c, #040f17); */
}
